<div class="login-logo">
    <a href="/"><b>KSS</b> Forgot Password</a>
</div>
<div class="login-box-body">
    <!-- <p class="login-box-msg">Sign in to start your session</p> -->
    <%= form_with scope: @user, url: send_link_path,id: "req_password" ,local: true do |f| %>
    <div class="form-group has-feedback">
        <%= f.text_field :email, class: 'form-control', autofocus: true,placeholder: "Email" %>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="row">
        <!-- /.col -->
        <div class="col-xs-4">
            <%= f.submit 'Log in', class: 'btn btn-primary btn-block btn-flat' %>
        </div><!-- /.col -->
        <!-- <div class="col-xs-8"> -->
            <!--        <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Remember Me
            </label>
          </div> -->
        <!-- </div> -->
    </div>
    <% end %>
    <div class="row">
        <!-- /.col -->
        <div class="col-xs-4">
            <%= link_to "Sign now", login_path %>
        </div>
    </div>
</div><!-- /.login-box-body -->