/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ../common
 *= require jquery-jvectormap-1.2.2
 *= require slider
 *= require bootstrap3-wysihtml5
 *= require fullcalendar
 *= require bootstrap-timepicker
 *= require morris
 *= require daterangepicker-bs3
 *= require bootstrap-colorpicker
 *= require datepicker3
 *= require toastr.min
 *= require_tree ../../../../vendor/assets/stylesheets
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "AdminLTE/AdminLTE";
@import "AdminLTE/skins/skin-blue";

.content > h1 {
  margin: 0;
  font-size: 24px;
  padding-bottom: 15px;
}

  .cover-btns{
    text-align: center;
    width: 100%;

  }
  .single-btn{
    display: inline-block;
    padding: 7px 20px;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
  }
  .my-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #aaaab378;
  padding: 10px;

  }
  .btn-custom{
    padding: 6px 20px;
    font-size: 16px;
    border-radius: 10px;
    display: block;
    margin-right: 20px;
    background: #fff;

  }
  .two-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .btn-custom:last-child{
    margin-right: 0px;
  }
.cover-select {
    background: #3932326e;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px 0px;
}
.sub-seclect{
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}
.contant-select {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.contant-select h5{
  font-size: 20px;
  color: #000;
  margin-right: 45px;
}

.box {
    margin-bottom:0px!important;
    padding-bottom: 20px;

    }