<section class="custom-wrap">
  <div class="container">
    <div class="Dashboard-section">
      <h4>Edit Length Edge</h4>
      <%= form_with scope: @le, url: length_edge_path, method: :put, id: "new_staff", local: true do |f|%>
        <%= render "form", f: f %>
      <% end %>
    </div>
  </div>
</section>