<section class="custom-wrap">
  <div class="container">
    <div class="Dashboard-section">
      <h4>Create Length Edge</h4>
      <%= form_with model: @le do |f| %>
        <%= render "form", f: f %>
      <% end %>
    </div>
  </div>
</section>