<section class="custom-wrap">
  <div class="container">
    <div class="Dashboard-section">
      <h4>Edit Pod</h4>
      <%= form_with scope: @pod, url: pod_path, method: :put, id: "new_staff", local: true do |f|%>
        <%= render "form", f: f %>
      <% end %>
    </div>
  </div>
</section>