<section class="custom-wrap">
  <div class="container">
    <div class="Dashboard-section">
      <h4>Create Surface</h4>
      <%= form_with model: @surface, id: "new-surface" do |f| %>
        <%= render "form", f: f %>
      <% end %>
    </div>
  </div>
</section>
<script>
  $('#new-surface').validate({
    rules:{
      "surface[grade]": {required: true},
      "surface[surface]": {required: true},
      "surface[cost]": {required: true},
      "surface[unit]": {required: true}
    },
    messages: {
      "surface[grade]": {required: "*Please Enter Grade!"},
      "surface[surface]": {required: "*Please Enter Surface!"},
      "surface[cost]": {required: "*Please Enter Cost!"},
      "surface[unit]": {required: "*Please Enter Unit!"}
    },    
  });
  $(function () {
    $(".surface").keypress(function (e) {
      var keyCode = e.keyCode || e.which;
      if (this.name == "surface[grade]"){
        $(".lblError-s-grade").html("");
      }else{
        $(".lblError-s-cost").html("");
      }
      //Regex for Valid Characters i.e. Numbers.
      var regex = /^[0-9]+$/;
      //Validate TextBox value against the Regex.
      var isValid = regex.test(String.fromCharCode(keyCode));
      if (!isValid) {
        if (this.name == "surface[grade]"){
          $(".lblError-s-grade").html("Only Numbers allowed.");
        }else{
          $(".lblError-s-cost").html("Only Numbers allowed.");
        }
      }
      return isValid;
    });
  });
</script>