<% if logged_in?%>
   <header id="header">
  <div class="container-fluid d-flex align-items-center flex-wrap">
    <div id="logo" class="pull-left">
      <a href="#"><h3> Logo</h3></a>
      <!-- Uncomment below if you prefer to use a text logo -->
      <!--<h1><a href="#hero">Regna</a></h1>-->
    </div>
    <div class="form-group has-search">
<span class="fa fa-search form-control-feedback faa-icon"></span>
<input type="text" class="form-control" placeholder="Search">
</div>

     <nav id="nav-menu-container" class="ml-lg-auto ml-xl-auto ml-md-auto ml-2">
      <ul class="nav-menu">
        <li class="menu-active"><a href="/users">Dashboard</a></li>
        <li><a href="<%=profile_authenticated_root_user_path(current_user)%>">My Profile</a></li>
        <li><a href="#">KYC</a></li>
        <li><a href="/homes/white_paper">White Paper</a></li>
        <li><a href="#">Road Map</a></li>
        <li><a href="/homes/team">Team</a></li>
      </ul>
    </nav>
    <!-- #nav-menu-container -->
     <div class=" rightMenuBox">
      <%#=link_to "Logout", destroy_user_session_path, class: "btn btn-outline-light text-uppercase btnHeader"  %>
    </div>
    <!-- <div class=" rightMenuBox">
      <a href="javascript:;" class="btn btn-outline-light text-uppercase btnHeader" data-toggle="modal" data-target="#loginModal">Login</a>
    </div> -->
  </div>
</header>
<% else%> 
<header id="header">
  <div class="container-fluid d-flex align-items-center flex-wrap">
    <div id="logo" class="pull-left">
      <a href="#"><h3> Logo</h3></a>
      <!-- Uncomment below if you prefer to use a text logo -->
      <!--<h1><a href="#hero">Regna</a></h1>-->
    </div>
    <div class="form-group has-search">
<span class="fa fa-search form-control-feedback faa-icon"></span>
<input type="text" class="form-control" placeholder="Search">
</div>

     <nav id="nav-menu-container" class="ml-lg-auto ml-xl-auto ml-md-auto ml-2">
      <ul class="nav-menu">
        <li class="menu-active"><a href="/homes">Home</a></li>
        <li><a href="#">How it work</a></li>
        <li><a href="/homes/team">Team</a></li>
        <li><a href="/homes/white_paper">White Paper</a></li>
        <li><a href="#">Read Map</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <!-- #nav-menu-container -->
    
    <div class=" rightMenuBox">
      <%#=link_to "Login", new_user_session_path, class: "btn btn-outline-light text-uppercase btnHeader"  %>
      <!-- <a href="/sign_in" class="btn btn-outline-light text-uppercase btnHeader" data-toggle="modal" data-target="#loginModal">Login</a>
 -->    </div>
  </div>
</header>

 <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <!-- Main content -->
      <section class="content">
        <%= render partial: 'layouts/alert' %>
       </section> <!-- /.content -->
    </div><!-- /.content-wrapper -->
<%end%>
