<section class="section-underlast">
      <div class="container-common">
       <div class="row">
               <div class="col-sm-4 col-md-4 col-lg-4 ">
                <div class="first-leftsec">
                <h3>NEWSLETTER</h3>
                <p>By subscribing to our mailling list you will always be update with the latest news from us.</p>
                 <div class="last-form">
                 <input type="email" id="email" placeholder="Enter Email Address" name="email">
                 <button class="subs-btn" type="submit"><a href="#">SUBSCRIBE</a></button>
                </div>
                <ul class="socialMenuList2 mb0 d-flex align-items-center flex-wrap">
                <li><a  href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a class="active" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="#"><i class="fab fa-google"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-tumblr"></i></a></li>
              </ul>
                </div>
            </div>
             <div class="col-sm-4 col-md-4 col-lg-4 ">
              <div class="second-leftsec">
              <h3>QUICK LINKS</h3>
              </div>
               <div class="row qui-cus">
          <div class="col-sm-6 col-md-6 col-lg-6">
              <h3>Cryptocash ICON</h3>
          </div>
           <div class="col-sm-6 col-md-6 col-lg-6">
              <h3>Team</h3>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
              <h3>How it works</h3>
          </div>
           <div class="col-sm-6 col-md-6 col-lg-6">
              <h3>Whitepaper</h3>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
              <h3>Tokens </h3>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
              <h3>FAQ </h3>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
              <h3>Road Map </h3>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
              <h3>CONTACT </h3>
          </div> 
         </div> 
            
          </div>
             <div class="col-sm-4 col-md-4 col-lg-4 social-seclast">
              <div class="third-leftsec">
                <h3>SOCIAL</h3>
                <div>
                  <div class="socil-cuscls">
                <ul>
                  <li class="third-sec1">Facebook</li>
                  <li class="third-sec1">Twitter</li>
                  <li class="third-sec1">Google Plus</li>
                  <li class="third-sec1">Pintrest</li>
                 <li class="third-sec1">Instagram</li>

                </ul>
                </div>
                </div>
              
             <!--  <h4>Facebook</h4>
              <h4>Twitter</h4>
              <h4>Google Plus</h4>
              <h4>Pintrest</h4>
              <h4>Instagram</h4> -->
            </div>
            </div>
          </div>
            </div>
          </section>
<footer id="footer">

  <div class="footerTop">
    <div class="container-fluid">
      <div class="row align-items-center">
  		  <div class="col-md-6">
  		    
          <p class="copyright">Copyright @ 2008 All Rights Reserved.</p>
  		  </div>
  		  <div class="col-md-6">
  		    <div class="d-flex flex-wrap socialMenuBox align-items-center justify-content-end">
    			  <div class="privacy-cus">
    			  	<p>Privacy Policy	  Terms & Conditions</p>
    			    
    			  </div>
    			</div>
  		  </div>
  		</div>
    </div>
  </div>
</footer>
